In [273]:
import pandas as pd
import numpy as np

In [274]:
df = pd.read_csv("student.csv")

In [275]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

In [276]:
# เปลี่ยนชื่อเพศให้เหมือนกัน
def standardize_faculty(name):
    if name in ['ชาย', 'ช', 'Male', 'M']:
        return 'ชาย'
    elif name in ['หญิง', 'ญ', 'Female', 'F']:
        return 'หญิง'
    else:
        return name

# เปลี่ยนชื่อเพศในตราง
df['เพศ'] = df['เพศ'].apply(standardize_faculty)

# เติมค่าแทนที่ NaN
df['เพศ'].fillna(df['เพศ'].mode()[0], inplace=True)

/tmp/ipython-input-2777082440.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['เพศ'].fillna(df['เพศ'].mode()[0], inplace=True)

In [277]:
# เปลี่ยนชื่อคณะให้เหมือนกัน
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'คณะวิทยาศาสตร์', 'วิทย์', 'Science', 'Sci']:
        return 'วิทยาศาสตร์'
    elif name in ['วิศวกรรมศาสตร์', 'วิศวกรรม', 'วิศวฯ', 'วิศวะ', 'Engineering']:
        return 'วิศวกรรมศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Liberal Arts', 'Arts']:
        return 'ศิลปศาสตร์'
    else:
        return name

# เปลี่ยนชื่อคณะในตราง
df['คณะ'] = df['คณะ'].apply(standardize_faculty)

# เติมค่าแทนที่ NaN
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

/tmp/ipython-input-3954665367.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

In [278]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound) &
                    (df['อายุ'] >= 18) & (df['อายุ'] <= 23)]

print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) = {df_no_outliers['อายุ'].mean():.2f}")

# ค่าเฉลี่ยอายุ
mean_age = df_no_outliers['อายุ'].mean()

# เติมค่าแทนที่ NaN
df['อายุ'].fillna(mean_age, inplace=True)

# แทนที่ค่าช่วงที่เกินหรือต่ำกว่า 18-23
df.loc[(df['อายุ'] < 18) | (df['อายุ'] > 23), 'อายุ'] = mean_age

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) = 20.88

/tmp/ipython-input-3284202564.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['อายุ'].fillna(mean_age, inplace=True)

In [279]:
print(f"- GPA ผิดปกติ - {df[(df['GPA'] < 0) | (df['GPA'] > 4)]['GPA'].tolist()}")

# ค่าเฉลี่ย GPA
mean_gpa = df['GPA'].mean()

# แทนที่ค่าช่วงที่เกินหรือต่ำกว่า 0 - 4
df.loc[df['GPA'] < 0, 'GPA'] = np.nan
df.loc[df['GPA'] > 4, 'GPA'] = 4.0

# เติมค่าแทนที่ NaN
df['GPA'].fillna(mean_gpa, inplace=True)

- GPA ผิดปกติ - [-1.0, 4.5]

/tmp/ipython-input-1575464396.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GPA'].fillna(mean_gpa, inplace=True)

In [280]:
max_height = df['ส่วนสูง_cm'].max()
min_height = df['ส่วนสูง_cm'].min()

print(f"ส่วนสูง_cm: สูงสุด = {max_height}, ต่ำสุด = {min_height}")

# ค่าเฉลี่ยส่วนสูง
mean_cm = df['ส่วนสูง_cm'].mean()

# เติมค่าแทนที่ NaN
df['ส่วนสูง_cm'].fillna(mean_cm, inplace=True)

ส่วนสูง_cm: สูงสุด = 180.0, ต่ำสุด = 158.0

/tmp/ipython-input-2576416998.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ส่วนสูง_cm'].fillna(mean_cm, inplace=True)

In [281]:
max_weight = df['น้ำหนัก_kg'].max()
min_weight = df['น้ำหนัก_kg'].min()

print(f"น้ำหนัก_kg: สูงสุด = {max_weight}, ต่ำสุด = {min_weight}")

# ค่าเฉลี่ยน้ำหนัก
mean_wt = df['น้ำหนัก_kg'].mean()

# เติมค่าแทนที่ NaN
df['น้ำหนัก_kg'].fillna(mean_wt, inplace=True)

น้ำหนัก_kg: สูงสุด = 82.0, ต่ำสุด = 48.0

/tmp/ipython-input-4063634480.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['น้ำหนัก_kg'].fillna(mean_wt, inplace=True)

In [282]:
max_hours = df['ชั่วโมงเรียน_ต่อสัปดาห์'].max()
min_hours = df['ชั่วโมงเรียน_ต่อสัปดาห์'].min()

print(f"ชั่วโมงเรียน_ต่อสัปดาห์: สูงสุด = {max_hours}, ต่ำสุด = {min_hours}")

# # ค่าเฉลี่ยชั่วโมงเรียน
mean_hr = df['ชั่วโมงเรียน_ต่อสัปดาห์'].mean()

# เติมค่าแทนที่ NaN
df['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(mean_hr, inplace=True)

ชั่วโมงเรียน_ต่อสัปดาห์: สูงสุด = 35.0, ต่ำสุด = 10.0

/tmp/ipython-input-79476997.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(mean_hr, inplace=True)

# เสร็จแล้วครับ

In [283]:
print('ข้อมูลหลังทำความสะอาด')

df

ข้อมูลหลังทำความสะอาด

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,NaN,20.875,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000,ชาย,วิทยาศาสตร์,3.246111,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,20.875,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000,หญิง,วิศวกรรมศาสตร์,4.000000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,20.875,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,20.875,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-01-06

# 4.2

In [284]:
registration_data = df.copy()

registration_data['วันที่ลงทะเบียน'] = pd.to_datetime(registration_data['วันที่ลงทะเบียน'])

daily_registrations = registration_data.groupby(registration_data['วันที่ลงทะเบียน'].dt.date).size().reset_index(name='จำนวนนักศึกษาที่ลงทะเบียน')

print("จำนวนนักศึกษาที่ลงทะเบียนในแต่ละวัน:")
print(daily_registrations)

จำนวนนักศึกษาที่ลงทะเบียนในแต่ละวัน:
   วันที่ลงทะเบียน  จำนวนนักศึกษาที่ลงทะเบียน
0       2023-12-18                          1
1       2023-12-23                          1
2       2023-12-26                          2
3       2023-12-30                          1
4       2024-01-03                          1
5       2024-01-05                          1
6       2024-01-06                          1
7       2024-01-07                          1
8       2024-01-08                          2
9       2024-01-13                          1
10      2024-01-20                          1
11      2024-01-23                          2
12      2024-01-24                          1
13      2024-01-27                          1
14      2024-02-05                          1
15      2024-02-06                          1
16      2024-02-11                          1

# 4.3

In [285]:
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2
df['สุขภาพ'] = pd.cut(df['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

print(df[['ชื่อ', 'BMI', 'สุขภาพ']])

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN  20.770975   ปกติ
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ  24.183802   ปกติ
11       นภา  21.754082   ปกติ
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ